@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

html {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.app {
    position: relative;
    width: 100%;
    height: 100%;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.links line {
    stroke: white;
    opacity: .4;
}

.nodes circle {
    stroke-width: 3px;
}

h1 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

h2 {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

.acceptBtn {
    background-color: #86BA90;
    border-radius: 3px;
    color: #f7fff7;
    display: block;
    padding: 10px 15px;
}

.acceptBtn:hover {
    cursor: pointer;
}

.acceptBtn h1 {
    display: inline-block;
    margin: 0 !important;
}

.full-screen-container {
    align-items: center;
    background-color: rgba(0,0,0, .3);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
}

.data-selector {
    background-color: #f7fff7;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: auto;
}

.data-selector h1 {
    margin-bottom: 10px;
}

.data-selector select {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.add-data {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.set-container {
    display: flex;
    flex-direction: row;
}

.set-selector {
    background-color: #86BA90;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    flex: 1;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: all .5s;
    z-index:99;
}

.set-selector .del-container {
    align-items: center;
    bottom: 0;
    color: white !important;
    display: flex;
    font-size: 20px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
    z-index: 100;
}

.set-selector:hover {
    cursor: pointer;
    flex: 1.5;
}

.set-selector:hover .del-container {
    opacity: 1;
}

.label {
    position: fixed;
    padding: 10px;
    background-color: white;
    border: 1px solid #999;
    z-index: 100;
}