<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <link href="./css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="./css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="app">
            <svg id="graph"></svg>
            <div class="set-container">
                <div class="set-selector" v-for="set in dataSetsUsed" v-bind:style="{backgroundColor: set.color}">
                    <h2>{{set.name}}</h2>
                    <div class="del-container">
                        <p><i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-trash" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
            <div class="welcome-screen" v-if="dataSetsUsed.length < 1">
                <h1>Welcome to the Analogy Visualization</h1>
                <h2>Please add a data set below to get started</h2>
            </div>
            <div v-if="selecting" class="full-screen-container">
                <div class="data-selector">
                    <h1>What data set would you like to load?</h1>
                    <select v-model="currentlySelected">
                        <option v-for="set in dataSetsAvailable" v-bind:value="set.val">{{set.name}}</option>
                    </select>
                    <div class="acceptBtn" v-on:click="addDataSet"><h1><i class="fa fa-plus-circle" aria-hidden="true"></i> add this data</h1></div>
                </div>
            </div>
            <div class="add-data acceptBtn" v-on:click="selecting=true"><h1><i class="fa fa-plus-circle" aria-hidden="true"></i> add new data set</h1></div>
            <div class="connect-data connectBtn" v-if="dataSetsUsed.length > 1" v-on:click="generateAnalogy"><h1><i class="fa fa fa-connectdevelop" aria-hidden="true"></i> connect data sets</h1></div>
        </div>
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="./js/vue.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="./js/graham_scan.min.js"></script>
        <script src="./js/classes/blob.js"></script>
        <script src="./js/classes/resolver.js"></script>
        <script src="./js/classes/analogyGraph.js"></script>
        <script src="./js/main.js"></script>
        <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
        </script> 
    </body>
</html>
